/* Блок с названием, описанием и кнопкой навигации */

.to-configurator {
    background-color: #1e1e1e;
    width: 100%;
    padding: 120px 0 120px 100px ;
    border-radius: 10px;
    background-image: url('/public/assets/images/beautiful-clouds-digital-art.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.to-configurator::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: rgba(0 0 0 / 0.4);
}

.info{
    margin-bottom: 25px;
    max-width: 900px;
}

.kombucha-name{
    font-size: 64px;
    margin-bottom: 20px;
    color: white;
    font-family: Metal Mania;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
    text-wrap: nowrap;
}

.project-description{
    font-size: 22px;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-wrap: wrap;
    font-weight: 600;
}

/* Слайдер */

.popular {
    margin-top: 25px;
    width: 100%;
    height: 600px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

/* Фильтры */

.filter-catalog {
    display: flex;
    gap: 25px;
    margin: 25px 0;
}

.filters {
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 390px;
    max-height: calc(100vh - 100px);
    padding: 20px;
    position: sticky;
    top: 100px;
    overflow-y: auto;
}

.filters::-webkit-scrollbar{
    display: none;
}

/*---------------------input------------------------*/

.custom-input {
    display: flex;
    margin-bottom: 30px;
}

.find {
    background-color: #444444;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;
}

.clear {
    background-color: #444444;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
}

.custom-input input{
    width: 230px;
    height: 50px;
    background-color: #444444;
    border: none;
}

.custom-input input{
    outline: none;
    border: none;
    color: white;
}

.custom-input input::placeholder{
    /* font-size: 20px; */
    text-align: center;
    color: white;
}

/*---------------------Каталог----------------------*/

.catalog-wrapper {
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}